<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION " />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES  " />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".DiraApplication"
        android:allowBackup="false"
        android:clearTaskOnLaunch="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dira"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.CrashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ImageEdit"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RoomServersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.ChatAppearanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme" />
        <activity
            android:name=".ui.activities.MemoryManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme" />
        <activity
            android:name=".ui.activities.MembersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.MediaSendActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.EditRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.RoomInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.room.RoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.PersonalityActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.createroom.CreateRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.JoinRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppSlideTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".services.UpdaterService"
            android:exported="false" />

        <activity
            android:name=".ui.activities.RoomSelectorActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>